*{box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
/*color palette*/
:root{
    --page-color: #bdd4cb;
    --dark: #3d454b;
    --mid: #6db9c7;
    --light: #d8bbc3;
    
}
/*My name, about me, work, and contact me*/
h1{
    color: var(--dark);
    font-size:xx-large;
    text-align: center;
    vertical-align: middle;
}
/*The main body of text*/
p{
    color: var(--dark);
    font-size: small;
    margin-bottom: 3vh;
    line-height: 1.5;
    line-break:loose;
    
}
/*Takes out the text decoration so I can add my own*/
a{
    text-decoration: none;
    color: var(--light);
}

body{
    background-color: var(--page-color);
}


/*A purple color that spans the entire top and bottom of the page
Name and Contact me on the left while links are listed on the right*/
header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: var(--dark);

}

/*A pink box that holds the Name and Contact me in the header and footer*/
.name-box{
    padding-left: 2%;
    height: 10vh;
    background-color: var(--light);
    border-radius: 0 4px 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*links in the header and footer*/
ul{
    display: flex;
    margin: 6vh;

}


 li{
    padding: 2vh 1vh;
    margin: 0 3vh;
    color: var(--light);
    border-bottom: var(--light) solid;

}

 li:hover{
    background-color: var(--mid) ;
    border-radius: 2px;
}

.top-picture{
    height: 50vh;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/kitten-banner.jpeg");
    background-size: cover;
    background-position: center;
    border-bottom: var(--mid) dotted;
}
/*About me Section*/
section{
    display: flex;
    flex-direction: row;
    margin-bottom: 20vh;
}

section h1 {
    padding-left: 25vh ;
    padding-right: 3vh;
    padding-bottom: 15%;
    margin-bottom: 10vh;
    border-right: solid var(--dark)
}

section div{
    margin: 2vh 5vh 3vh 5vh;
}
/*my works*/
main{
    margin: 0 20vh;
    border: #3d454b solid;
    border-radius: 10px;
    min-height: 200vh;
    margin-bottom: 15vh;
}

main h1{
    display: block;
    margin-left: 5vh;
    position: relative;
    bottom: 50px;
    }
/*The biggest picture of my Works. It stands alone on its own line*/
#project-1{
        background-image: url("../images/kitty-cat.jpeg");
        background-size: cover;
        background-position: center;
        width: 90%;
        height: 100vh;
        margin: 0 4% 4% 4%;
        margin: auto;
        display: block;
        border: var(--dark) solid;
        
}
/*The container for the smaller projects*/
.projects{
    display:flex;
    margin: 0 10px, 10px, 10px;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
}
/* remember to put the background style in the picture is only in project-2*/
#project-2, #project-3, #project-4, #project-5{
    background-image: url("../images/cute-kitty.jpeg");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    margin: 50px;
    flex-grow: 1;
    border: var(--dark) solid;
}
#project-1:hover, #project-2:hover, #project-3:hover, #project-4:hover, #project-5:hover{
    border: var(--mid) solid 15px;
}
/*the rest of the pictures are here*/
#project-3{
    background-image: url("../images/kitty-cop.jpeg")
}
#project-4{
    background-image: url("../images/multiple-kitties.png")
}
#project-5{
    background-image: url("../images/kitten-banner.jpeg")
}
/*Changes the styling so everything is more of in a row at smaller screen aspects*/
@media only screen and (max-width: 1200px){
    main{
        margin: 0 5vh;
    }
   header h1{
        font-size: large;
    }
    #project-2, #project-3, #project-4, #project-5{
        width: 90%;
        height: 50vh;
        margin: 0 4% 4% 4%;
        display: block;
    }
}
/*The top and bottom heading ten*/
@media only screen and (max-width: 500px){
    section h1{
        padding-left: 5vh ;
        padding-right: 3vh;
        padding-bottom: 15%;
    }
    
}
