*{box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
/*color palette
possibly add margin specifications?*/
:root{
    --page-color: #bdd4cb;
    --dark: #3d454b;
    --mid: #6db9c7;
    --light: #d8bbc3;
    
}
/*My name and the side bars*/
h1{
    color: var(--dark);
    font-size:xx-large;
}

p{
    color: var(--dark);
    font-size: small;
    margin-bottom: 3vh;
    line-height: 1.5;
    line-break:loose;
    
}

a{
    text-decoration: none;
    color: var(--light);
}

body{
    background-color: var(--page-color);
}



header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: var(--dark);

}


.name-box{
    padding-left: 2%;
    height: 10vh;
    background-color: var(--light);
    border-radius: 0 4px 4px 0;
}


ul{
    display: flex;
    margin: 6vh;

}


 li{
    padding: 2vh 1vh;
    margin: 0 3vh;
    color: var(--light);
    border-bottom: var(--light) solid;

}

 li:hover{
    background-color: var(--mid) ;
    border-radius: 2px;
}

.top-picture{
    height: 50vh;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/istockphoto-1147544807-612x612.jpeg");
    background-size: cover;
    background-position: center;
    border-bottom: var(--mid) dotted;
}

section{
    display: flex;
    flex-direction: row;
    margin-bottom: 20vh;
}

section h1 {
    padding-left: 25vh ;
    padding-right: 3vh;
    padding-bottom: 15%;
    margin-bottom: 10vh;
    border-right: solid var(--dark)
}

section div{
    margin: 2vh 5vh 3vh 5vh;
}

main{
    margin: 0 20vh;
    border: #3d454b solid;
    border-radius: 10px;
    min-height: 200vh;
    margin-bottom: 15vh;
}

main h1{
    display: block;
    margin-left: 5vh;
    position: relative;
    bottom: 50px;
    }

#project-1{
        background-image: url("../images/istockphoto-1147544807-612x612.jpeg");
        background-size: cover;
        background-position: center;
        width: 90%;
        height: 100vh;
        margin: 0 4% 4% 4%;
        display: block;
        
}
.projects{
    display:flex;
    margin: 0 10px, 10px, 10px;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
}
/* remember to put the background style in*/
#project-2, #project-3, #project-4, #project-5{
    background-image: url("../images/istockphoto-1147544807-612x612.jpeg");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    margin: 50px;
    flex-grow: 1;
}
#project-3{
    background-image: url("../images/istockphoto-1147544807-612x612.jpeg")
}
#project-4{
    background-image: url("../images/istockphoto-1147544807-612x612.jpeg")
}
#project-5{
    background-image: url("../images/istockphoto-1147544807-612x612.jpeg")
}
@media only screen and (max-width: 1200px){
    #project-2, #project-3, #project-4, #project-5{
        background-image: url("../images/istockphoto-1147544807-612x612.jpeg");
        background-size: cover;
        background-position: center;
        width: 90%;
        height: 50vh;
        margin: 0 4% 4% 4%;
        display: block;
    }
}
